extend layout
block content
    pre#title  #{title}
    table
        tbhead
            tr
                th TimeStamp
                th Air Temperature
                th Soil Temperature
                th Soil Moisture
                th Humidity
                th Light
        tbody
            for reading in readings
                tr
                    td #{reading.TimeStamp}
                    td #{reading["Air Temperature"]}
                    td #{reading["Soil Temperature"]}
                    td #{reading["Soil Moisture"]}
                    td #{reading.Humidity}
                    td #{reading.Light}
